.cache/
.calcurse/
.config/dconf/
.config/firefox56/
.config/gconf/
.config/gtk-3.0/
.config/htop/
.config/Mendeley Ltd./
.config/mpd/playlists/
.config/mpd/pid
.config/mpd/database
.config/mpd/log
.config/mpd/state
.config/mpd/sticker.sql
.config/plantuml/plantuml.jar
.config/pulse/
.config/QtProject.conf
.config/spotify/
.config/transmission/
.config/youtube-viewer/
.config/wall.png
.extraibles/
.fehbg
.fontconfig/
.ghc/
.gnupg/
.java/
.local/share/
.mozilla/*
.mplayer/
.ncmpcpp/
.pki/
.tmp/
.vim/.netrwhist
Docker/
Documentos/
Descargas/
Downloads/
Musica/
Videos/
Imagenes/
Plantillas/
.bash_history
.lesshst
.viminfo
.*_history*
.sc-im*
.weatherreport


