.cache/*
.config/dconf/
.config/firefox56/
.config/htop/
.config/mpd/playlists/
.config/mpd/pid
.config/mpd/database
.config/mpd/log
.config/mpd/state
.config/mpd/sticker.sql
.config/pulse/
.config/spotify/
.gnupg/
.local/share/
.mozilla/*
.ncmpcpp/
.pki/
.tmp/
Documentos/
Descargas/
Downloads/
Musica/
Videos/
Imagenes/
Plantillas/
.bash_history
.lesshst
.viminfo
.python_history*
.weatherreport


